/**** LOGIN ****/

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem
}

.login img {
  width: 12rem;
}

.login h2 {
  margin-top: 0;
  font-size: 3rem;
  text-align: center;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 20rem;
  border-radius: 50px;
  padding-top: .5rem;
  box-shadow: 1px 2px 7px black;
}

.user-form form {
  display: flex;
  flex-direction: column;
}

.user-form label {
  font-size: 1.2rem;
}

.user-form input {
  font-size: 1.1rem;
}

.user-form p {
  text-align: center;
}

.submit-button {
  background-color: white;
  border-radius: 5px;
  padding: .2rem 2rem;
  margin: 2rem 0 1rem;
  font-size: 1.1rem;
  align-self: center;
}

/******************************/

/****** Header *******/

.main-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid black;
}

.heading {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.heading h1 {
  color: black;
  margin-left: 1rem;
  margin-bottom: .5rem;
}

.heading img {
  width: 4rem;
  margin-bottom: .2rem
}

.main-header nav {
  display: flex;
  align-items: flex-end;
  margin-right: 5rem;
}

.nav-button {
  border: 1px solid black;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  padding: .2rem 1rem;
  margin: .5rem 2rem;
  border-radius: 8px;
  cursor: pointer;
}
/******************************/

/******* Chatroom Search *****/
.chatroom-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.chatroom-search-bar input[type=text]{
  font-size: 1.1rem;
  border-radius: 10px;
}

.chatroom-search-bar fieldset {
  border: none;
}

.chatroom-search-grid {
  display: inline-grid;
  grid: repeat(4, 1fr) / repeat(4, 1fr);
  height: 37rem;
  overflow: auto;
}

.search-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-column: 2 / 4;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem 0;
  border: 2px solid gray;
  border-radius: 10px;
  box-shadow: 1px 2px 5px gray;
  cursor: pointer;
}

.selected {
  border: 2px solid black;
  box-shadow: 1px 2px 5px black;
}

.search-item img {
  margin: 1rem 1rem;
  width: 5.625rem;
}

.search-item p {
  margin: 1rem;
}

/******************************/

/***** Radio Button ******/
input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: .8rem;
  height: .8rem;
  margin-right: .5rem;
  border: 1px solid black;
}

input[type=radio]:checked {
  background-color: black;
}