body {
  background-color: #fff0d0;
  color: #604030
}

#root {
  height: 58rem;
}

/***** Custom Scroll ******/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffe0b0
; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #c0a080; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #604030; 
}

/***** Form Inputs ******/

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: .8rem;
  height: .8rem;
  margin-right: .5rem;
  border: 1px solid black;
}

input[type=radio]:checked {
  background-color: black;
}

input[type=text],
input[type=password] {
  background-color: #ffffe0;
}


/**** LOGIN ****/

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem
}

.login img {
  width: 12rem;
}

.login h2 {
  margin-top: 0;
  font-size: 3rem;
  text-align: center;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  border-radius: 50px;
  padding-top: .5rem;
  border: 2px solid black;
  box-shadow: 1px 2px 7px black;
}

.user-form form {
  display: flex;
  flex-direction: column;
}

.user-form label {
  font-size: 1.2rem;
}

.user-form input {
  font-size: 1.1rem;
}

.user-form p {
  text-align: center;
}

.submit-button, 
.search-submit-button {
  background-color: #ffd0a0;
  border-radius: 5px;
  padding: .2rem 2rem;
  margin: 2rem 0 1rem;
  font-size: 1.1rem;
  align-self: center;
}

/******** Authorized Site ********/

.main-site-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 100%;
  height: 100%;
}

/****** Header *******/

.main-header {
  grid-area: 1 / 1 / span 1 / span 8;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px solid black;
}

.heading {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}

.heading h1 {
  color: #604030;
  margin-left: 1rem;
  margin-bottom: .5rem;
}

.heading img {
  width: 4rem;
  margin-bottom: .2rem
}

.main-header nav {
  display: flex;
  align-items: flex-end;
}

.nav-button {
  border: 1px solid black;
  background-color: #ffe0b0;
  color: #604030;
  text-decoration: none;
  font-size: 1.5rem;
  padding: .2rem 1rem;
  margin: .5rem 2rem;
  border-radius: 8px;
  cursor: pointer;
}

/******* Welcome *********/

.welcome {
  grid-area: 2 / 1 / span 7 / span 8;
  display: grid;
  grid: repeat(6, 1fr) / repeat(16, 1fr);
  text-align: center;
}

.welcome img {
  grid-area: 2 / 8 / span 3 / span 2;
  align-self: center;
  justify-self: center;
  width: 18em;
  border: 1px solid black;
  border-radius: 50%;
  border: .5rem solid #c0a080;
  background-color: #FFFAFA;
  box-shadow: 1px 2px 10px black;
}

.welcome p {
  grid-area: 5 / 7 / span 1 / span 4;
  font-size: 1.5rem;
  align-self: end;
}

.welcome .username {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2rem;
}

/******* Chatroom Search *****/

.chatroom-search {
  grid-area: 2 / 1 / span 7 / span 8;
  display: grid;
  grid: repeat(8, 1fr) / repeat(9, 1fr);
}

.chatroom-search-bar {
  grid-area: 1 / 3 / span 1 / span 5;
  align-self: center;
  justify-self: center;
}

.chatroom-search-bar input[type=text]{
  font-size: 1.1rem;
  border-radius: 10px;
}

.chatroom-search-bar fieldset {
  border: none;
}

.chatroom-search-list-grid {
  grid-area: 2 / 3 / span 5 / span 5;
  overflow: auto;
}

.search-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  border: 2px solid #c0a080  ;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #a09080;
  background-color: #ffe0b0;
  cursor: pointer;
}

.search-item img {
  margin: 1rem 1rem;
  width: 5.625rem;
}

.search-item p {
  margin: 1rem;
}

.selected {
  border: 2px solid #604030;
  box-shadow: 1px 2px 5px black;
}

.chatroom-search-error {
  grid-area: 7 / 3 / span 1 / span 5;
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
}

.search-submit-button {
  grid-area: 8 / 4 / span 1 / span 3;
  align-self: start;
  justify-self: center;
  cursor: pointer;
  margin: 0;
}

/******* Membership Navigation *****/

.membership-nav {
  grid-area: 2 / 1 / span 7 / span 8;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 100%;
}

.membership-nav nav {
  border-right: 2px solid black;
  overflow: auto;
  padding-right: .5rem;
}

.membership-nav-button {
  display: grid;
  border: 1px solid black;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3.6rem;
  justify-items: left;
  align-items: center;
  text-decoration: none;
  color: #604030;
}

.membership-nav-button img {
  margin: 0;
  width: 1.5rem;
  padding: .5rem;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
}

.membership-nav-button h4 {
  font-weight: normal;
}

/********* Chatroom ***********/

.chatroom {
  display: grid;
  grid: repeat(9, 1fr) / repeat(9, 1fr);
  flex-grow: 2;
}

.chatroom-header {
  grid-area: 1 / 1 / span 1 / span 9;
  border-bottom: 2px solid black;
  text-align: center;
}

.members {
  grid-area: 2 / 9 / span 7 / span 1;
  border-left: 2px solid black;
  padding-left: 1rem;
  text-transform: capitalize;
  overflow: auto;
}

.chatroom-withdrawal {
  grid-area: 9 / 9 / span 1 / span 1;
  display: flex;
  align-items: center;
  border-top: 2px solid black;
  border-left: 2px solid black;
  padding-left: 1rem;
}

.chatroom-withdrawal button {
  font-size: .75rem;
  font-weight: bold;
  cursor: pointer;
}

.messages {
  grid-area: 2 / 1 / span 7 / span 8;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: .5rem;
  overflow: auto;
}

/********** Message *************/

.message {
  display: grid;
  grid-template-columns: 1fr 20fr;
  align-items: start;
}

.message .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.2rem;
}

.content .creator {
  font-size: 1.2rem;
  color: black;
  margin-right: .5rem;
  text-transform: capitalize;
}

.content h5 {
  margin: 0;
  color: gainsboro;
  padding-bottom: .5rem;
}

.content p {
  margin: 0;
}

.message img {
  width: 3rem;
  border-radius: 50%;
  border: 2px solid #c0a080;
  background-color: #FFFAFA;
}

.message-heading {
  display: flex;
}

.message-buttons {
  display: flex;
  flex-grow: 1;
}

.icon {
  padding: 0;
  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;
  margin: 0 .3rem;
  text-align: center;
  cursor: pointer;
  background-color: #FFFAFA;
  color: black;
  border-radius: 1rem;
}

/****** Messenger **********/

.messenger {
  grid-area: 9 / 1 / 9 / span 8;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  border-top: 2px solid black;
  text-align: center;
}

.messenger form {
  grid-column: 1 / span 5;
}

.messenger form [type=text] {
  font-size: 1rem;
  border-radius: 10px;
  width: 80%;
  margin: 1rem;
}

.errors {
  display: flex;
  justify-content: center;
  background-color: black;
  color: red;
  font-weight: bold;
}

@media (height < 800px) {
  #root {
    height: 46.7rem;
  }
}
